@*
    Copyright (C) 2017  Nick Chapsas
    This program is free software: you can redistribute it and/or modify it under
    the terms of the GNU General Public License as published by the Free Software
    Foundation, either version 2 of the License, or (at your option) any later
    version.

    L2ACP is distributed in the hope that it will be useful, but WITHOUT
    ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
    details.

    You should have received a copy of the GNU General Public License along with
    this program. If not, see <http://www.gnu.org/licenses/>.
*@

using L2ACP.Models
@using L2ACP.Models
@using Microsoft.AspNetCore.Mvc.Localization
@model L2ACP.Models.RegisterViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Register"];
    ViewData["ExtraClass"] = "gray-bg";
}

<div class="wrapper wrapper-content animated fadeIn">
    <div class="middle-box text-center loginscreen">
        <div>
            <div>
                <h1 class="logo-name">@Localizer["ACP Title"]</h1>
            </div>
            <h3>@Localizer["Welcome to L2ACP"]</h3>
            <p>@Localizer["Register a new account"]</p>
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="m-t">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input type="text" asp-for="Username" class="form-control" placeholder="@Localizer["Username"]" required="">
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Password" class="form-control" placeholder="@Localizer["Password"]" required="">
                </div>
                <div class="form-group">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="@Localizer["Confirm Password"]" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">@Localizer["Register"]</button>

                <a class="btn btn-sm btn-white btn-block" asp-action="Login">@Localizer["Login"]</a>
            </form>
            <p class="m-t"> <small>@Localizer["Copyright"]</small> </p>
        </div>
    </div>
</div>