@*
    Copyright (C) 2017  Nick Chapsas
    This program is free software: you can redistribute it and/or modify it under
    the terms of the GNU General Public License as published by the Free Software
    Foundation, either version 2 of the License, or (at your option) any later
    version.

    L2ACP is distributed in the hope that it will be useful, but WITHOUT
    ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
    details.

    You should have received a copy of the GNU General Public License along with
    this program. If not, see <http://www.gnu.org/licenses/>.
*@
@{
    ViewData["Title"] = Localizer["Statistics Page"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@model L2ACP.Models.StatsViewModel
@inject IViewLocalizer Localizer
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">@Localizer["Top PvP"]</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">@Localizer["Top PK"]</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">@Localizer["Top Time"]</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>@Localizer["Player name"]</th>
                                        <th>@Localizer["Level"]</th>
                                        <th>@Localizer["Class"]</th>
                                        <th>@Localizer["Pvp"]</th>
                                        <th>@Localizer["Pk"]</th>
                                        <th>@Localizer["Online time"]</th>
                                        <th>@Localizer["Status"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int pvpCount = 1;}
                                    @foreach (var player in Model.TopPvp)
                                    {
                                        <tr>
                                            <td>@pvpCount</td>
                                            <td>@player.CharName</td>
                                            <td>@player.Level</td>
                                            <td>@player.ClassName</td>
                                            <td>@player.PvpKills</td>
                                            <td>@player.PkKills</td>
                                            @{
                                                TimeSpan time = TimeSpan.FromSeconds(player.OnlineTime);
                                                var parsed = time.ToString(@"d\:h\:m\:s").Split(':');
                                            }
                                            <td>@parsed[0] @Localizer["days"] @parsed[1] @Localizer["hours"] @parsed[2] @Localizer["mins"]</td>
                                            <td>
                                                @if (player.Online == 0)
                                                {<span class="label label-danger">@Localizer["Offline"]</span>}
                                                else
                                                {<span class="label label-primary">@Localizer["Online"]</span>}
                                        </td>
                                    </tr>
                                                    pvpCount++;
                                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>@Localizer["Player name"]</th>
                                        <th>@Localizer["Level"]</th>
                                        <th>@Localizer["Class"]</th>
                                        <th>@Localizer["Pvp"]</th>
                                        <th>@Localizer["Pk"]</th>
                                        <th>@Localizer["Online time"]</th>
                                        <th>@Localizer["Status"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int pkCount = 1;}
                                    @foreach (var player in Model.TopPk)
                                    {
                                        <tr>
                                            <td>@pkCount</td>
                                            <td>@player.CharName</td>
                                            <td>@player.Level</td>
                                            <td>@player.ClassName</td>
                                            <td>@player.PvpKills</td>
                                            <td>@player.PkKills</td>
                                            @{
                                                TimeSpan time = TimeSpan.FromSeconds(player.OnlineTime);
                                                var parsed = time.ToString(@"d\:h\:m\:s").Split(':');
                                            }
                                            <td>@parsed[0] @Localizer["days"] @parsed[1] @Localizer["hours"] @parsed[2] @Localizer["mins"]</td>
                                            <td>
                                                @if (player.Online == 0)
                                                {<span class="label label-danger">@Localizer["Offline"]</span>}
                                                else
                                                {<span class="label label-primary">@Localizer["Online"]</span>}
                                            </td>
                                        </tr>
                                                    pkCount++;
                                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>@Localizer["Player name"]</th>
                                        <th>@Localizer["Level"]</th>
                                        <th>@Localizer["Class"]</th>
                                        <th>@Localizer["Pvp"]</th>
                                        <th>@Localizer["Pk"]</th>
                                        <th>@Localizer["Online time"]</th>
                                        <th>@Localizer["Status"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int onlineCount = 1;}
                                    @foreach (var player in Model.TopOnline)
                                    {
                                        <tr>
                                            <td>@onlineCount</td>
                                            <td>@player.CharName</td>
                                            <td>@player.Level</td>
                                            <td>@player.ClassName</td>
                                            <td>@player.PvpKills</td>
                                            <td>@player.PkKills</td>
                                            @{
                                                TimeSpan time = TimeSpan.FromSeconds(player.OnlineTime);
                                                var parsed = time.ToString(@"d\:h\:m\:s").Split(':');
                                            }
                                            <td>@parsed[0] @Localizer["days"] @parsed[1] @Localizer["hours"] @parsed[2] @Localizer["mins"]</td>
                                            <td>
                                                @if (player.Online == 0)
                                                {<span class="label label-danger">@Localizer["Offline"]</span>}
                                                else
                                                {<span class="label label-primary">@Localizer["Online"]</span>}
                                            </td>
                                        </tr>
                                                    onlineCount++;
                                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>