@*
    Copyright (C) 2017  Nick Chapsas
    This program is free software: you can redistribute it and/or modify it under
    the terms of the GNU General Public License as published by the Free Software
    Foundation, either version 2 of the License, or (at your option) any later
    version.

    L2ACP is distributed in the hope that it will be useful, but WITHOUT
    ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
    details.

    You should have received a copy of the GNU General Public License along with
    this program. If not, see <http://www.gnu.org/licenses/>.
*@
@using L2ACP.Models
@using L2ACP.Services
@inject AssetManager AssetManager
@model DonateService[]
<div class="wrapper wrapper-content animated fadeIn">

    @if (Model.FirstOrDefault(x => x.ServiceId == 1).Price >= 0) //Rename player
    {
        <div class="col-lg-2">
            <div id="renamePlayer" class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-shopping-cart fa-2x"></i>
                    <div class="font-bold no-margins" style="font-size: 14px;">
                        <div>@Model.FirstOrDefault(x => x.ServiceId == 1).ServiceName</div>
                        <div>@Model.FirstOrDefault(x => x.ServiceId == 1).Price Donate Points</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal inmodal" id="renameModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <i class="fa fa-laptop modal-icon"></i>
                        <h4 class="modal-title">Rename player</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <strong>Select the new name for: <span class="renameCurPlayer"></span></strong>
                        </p>
                        <div class="form-group">
                            <label>New name</label> <input type="text" id="newName" placeholder="Enter your new character name" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" id="btnRenamePlayer" class="btn btn-primary">Rename player</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.FirstOrDefault(x => x.ServiceId == 2).Price >= 0) //nobless player
            {
        <div class="col-lg-2">
            <div id="noblessPlayer" class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-shopping-cart fa-2x"></i>
                    <div class="font-bold no-margins" style="font-size: 14px;">
                        <div>@Model.FirstOrDefault(x => x.ServiceId == 2).ServiceName</div>
                        <div>@Model.FirstOrDefault(x => x.ServiceId == 2).Price Donate Points</div>
                    </div>
                </div>
            </div>
        </div>

                <div class="modal inmodal" id="noblessModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <i class="fa fa-laptop modal-icon"></i>
                                <h4 class="modal-title">Make nobless</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    <strong>Are you sure you want to make <span class="renameCurPlayer"></span> Nobless?</strong>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                <button type="button" id="btnMakeNobless" class="btn btn-primary">Make nobless</button>
                            </div>
                        </div>
                    </div>
                </div>
    }

    @if (Model.FirstOrDefault(x => x.ServiceId == 3).Price >= 0) //Reset pk
            {
        <div class="col-lg-2">
            <div id="resetPk" class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-shopping-cart fa-2x"></i>
                    <div class="font-bold no-margins" style="font-size: 14px;">
                        <div>@Model.FirstOrDefault(x => x.ServiceId == 3).ServiceName</div>
                        <div>@Model.FirstOrDefault(x => x.ServiceId == 3).Price Donate Points</div>
                    </div>
                </div>
            </div>
        </div>

                <div class="modal inmodal" id="resetPkModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <i class="fa fa-laptop modal-icon"></i>
                                <h4 class="modal-title">Reset PK</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    <strong>Are you sure you want to reset the pks of <span class="renameCurPlayer"></span>?</strong>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                <button type="button" id="btnResetPk" class="btn btn-primary">Reset PK</button>
                            </div>
                        </div>
                    </div>
                </div>
    }

    @if (Model.FirstOrDefault(x => x.ServiceId == 4).Price >= 0) //Change sex
            {
        <div class="col-lg-2">
            <div id="changeSex" class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-shopping-cart fa-2x"></i>
                    <div class="font-bold no-margins" style="font-size: 14px;">
                        <div>@Model.FirstOrDefault(x => x.ServiceId == 4).ServiceName</div>
                        <div>@Model.FirstOrDefault(x => x.ServiceId == 4).Price Donate Points</div>
                    </div>
                </div>
            </div>
        </div>


                <div class="modal inmodal" id="changeSexModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <i class="fa fa-laptop modal-icon"></i>
                                <h4 class="modal-title">Change sex</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    <strong>Are you sure you want to change the sex of <span class="renameCurPlayer"></span>?</strong>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                <button type="button" id="btnChangeSex" class="btn btn-primary">Change Sex</button>
                            </div>
                        </div>
                    </div>
                </div>
    }

</div>



@if (Model.FirstOrDefault(x => x.ServiceId == 1).Price >= 0) //Rename player
{
    <script>
       
        $('#renamePlayer').click(function () {
            var playerName = $('#charsSelect').val();
            $('.renameCurPlayer').text(playerName);
            $('#renameModal').modal('show');
        });
        $('#btnRenamePlayer').click(function () {
            var playerName = $('#charsSelect').val();
            var newName = $('#newName').val();
            $.get("/renameplayer/" + playerName + "/" + newName,
                function (data) {
                    if (data.startsWith("ok:")) {
                        toastr["success"](data.replace("ok:",""));
                        $("#charsSelect option:selected").remove();
                        $("#charsSelect").append($('<option>', {
                            value: newName,
                            text: newName
                        }));
                        $("#charsSelect").val(newName);
                        $('.donatepointcount').text(parseInt($('.donatepointcount').text()) - parseInt(@Model.FirstOrDefault(x => x.ServiceId == 1).Price));
                    } else {
                        toastr["error"](data);
                    }
                    $('#renameModal').modal('hide');
                    $('#newName').val('');
                });
        });
    </script>
}

@if (Model.FirstOrDefault(x => x.ServiceId == 2).Price >= 0) //Rename player
{
    <script>

        $('#noblessPlayer').click(function () {
            var playerName = $('#charsSelect').val();
            $('.renameCurPlayer').text(playerName);
            $('#noblessModal').modal('show');
        });
        $('#btnMakeNobless').click(function () {
            var playerName = $('#charsSelect').val();
            $.get("/setnobless/" + playerName,
                function (data) {
                    if (data.startsWith("ok:")) {
                        toastr["success"](data.replace("ok:", ""));
                        $('.donatepointcount').text(parseInt($('.donatepointcount').text()) - parseInt(@Model.FirstOrDefault(x => x.ServiceId == 1).Price));
                    } else {
                        toastr["error"](data);
                    }
                    $('#noblessModal').modal('hide');
                });
        });
    </script>
}

@if (Model.FirstOrDefault(x => x.ServiceId == 3).Price >= 0) //Rename player
{
    <script>
        $('#resetPk').click(function () {
            var playerName = $('#charsSelect').val();
            $('.renameCurPlayer').text(playerName);
            $('#resetPkModal').modal('show');
        });
        $('#btnResetPk').click(function () {
            var playerName = $('#charsSelect').val();
            $.get("/resetPk/" + playerName,
                function (data) {
                    if (data.startsWith("ok:")) {
                        toastr["success"](data.replace("ok:", ""));
                        $('.donatepointcount').text(parseInt($('.donatepointcount').text()) - parseInt(@Model.FirstOrDefault(x => x.ServiceId == 1).Price));
                    } else {
                        toastr["error"](data);
                    }
                    $('#resetPkModal').modal('hide');
                });
        });
    </script>
}

@if (Model.FirstOrDefault(x => x.ServiceId == 4).Price >= 0) //Rename player
{
    <script>

        $('#changeSex').click(function () {
            var playerName = $('#charsSelect').val();
            $('.renameCurPlayer').text(playerName);
            $('#changeSexModal').modal('show');
        });
        $('#btnChangeSex').click(function () {
            var playerName = $('#charsSelect').val();
            $.get("/changeSex/" + playerName,
                function (data) {
                    if (data.startsWith("ok:")) {
                        toastr["success"](data.replace("ok:", ""));
                        $('.donatepointcount').text(parseInt($('.donatepointcount').text()) - parseInt(@Model.FirstOrDefault(x => x.ServiceId == 1).Price));
                    } else {
                        toastr["error"](data);
                    }
                    $('#changeSexModal').modal('hide');
                });
        });
    </script>
}