@using Microsoft.AspNetCore.Mvc.Localization
@model L2ACP.Responses.GetPlayerInfoResponse
@inject IViewLocalizer Localizer
<div class="wrapper wrapper-content animated fadeIn">
    <div class="contact-box center-version">

        <a href="javascript:void(0)">

            <img alt="image" class="img-circle" src="/images/gameIcons/@(Model.PlayerInfo.Race)_@(Model.PlayerInfo.Sex).png">

            <h3 class="m-b-xs"><strong>@Localizer["Name:"] @Model.PlayerInfo.Name</strong></h3>

            <div><strong>@Localizer["Title:"] </strong>@(string.IsNullOrEmpty(Model.PlayerInfo.Title) ? Localizer["No Title"].Value : Model.PlayerInfo.Title)</div>
            <div><strong>@Localizer["PvP:"] </strong>@Model.PlayerInfo.Pvp</div>
            <div><strong>@Localizer["PK:"] </strong>@Model.PlayerInfo.Pk</div>
            <div><strong>@Localizer["Clan:"] </strong>@Model.PlayerInfo.ClanName</div>
            <div><strong>@Localizer["Ally:"] </strong>@Model.PlayerInfo.AllyName</div>
            <div><strong>@Localizer["Hero:"] </strong>@(Model.PlayerInfo.Hero ? Localizer["Yes"].Value : Localizer["No"].Value )</div>
            <div><strong>@Localizer["Nobless:"] </strong>@(Model.PlayerInfo.Nobless ? Localizer["Yes"].Value : Localizer["No"].Value )</div>
        </a>
        @*<div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Restore</a>
                </div>
            </div>*@

    </div>
</div>