@*
    Copyright (C) 2017  Nick Chapsas
    This program is free software: you can redistribute it and/or modify it under
    the terms of the GNU General Public License as published by the Free Software
    Foundation, either version 2 of the License, or (at your option) any later
    version.

    L2ACP is distributed in the hope that it will be useful, but WITHOUT
    ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
    details.

    You should have received a copy of the GNU General Public License along with
    this program. If not, see <http://www.gnu.org/licenses/>.
*@
@using L2ACP.Extensions
@using L2ACP.Services
@using Microsoft.AspNetCore.Mvc.Localization
@model string[]
@inject AssetManager AssetManager
@inject IViewLocalizer Localizer

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-lg-12">
            <select id="charsSelect" class="form-control m-b" asp-items="new SelectList(Model)" name="players">
                <option selected="selected" disabled="disabled">@Localizer["Please select a character"]</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">@Localizer["Give Item"]</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2">@Localizer["Punish"]</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3">@Localizer["Player stats"]</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>@Localizer["Give item"]</h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="form-group">
                                        <select id="items" class="form-control m-b" asp-items='new SelectList(AssetManager.GetItems().Values.Where(x => x.ItemId <= 9299 && !x.IsQuestItem).OrderBy(x => x.Name), "ItemId","Name" )' name="items">
                                            <option selected="selected" disabled="disabled">@Localizer["Please select an item"]</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input id="itemCount" type="number" placeholder="@Localizer["Item count"]" class="form-control" name="itemcount" min="1" max="2147483647">
                                    </div>
                                    <div class="form-group">
                                        <input id="enchant" type="number" placeholder="@Localizer["Enchant (If applicable)"]" class="form-control" name="enchant" min="0" max="65535">
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="giveItem" class="btn btn-primary">@Localizer["Give item"]</button>
                                    </div>
                                </div>
                                <div class="ibox-title">
                                    <h5>@Localizer["Give donate points"]</h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="form-group">
                                        <input id="donatepointscount" type="number" placeholder="@Localizer["Donate points"]" class="form-control" name="itemcount" min="1" max="2147483647">
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="giveDonatePointsBtn" class="btn btn-primary">@Localizer["Give donate points"]</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>@Localizer["Punishments"]</h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="form-group">
                                        <input id="punishSeconds" type="number" placeholder="@Localizer["Punishment seconds (0 is Infinite)"]" class="form-control" min="0" max="2147483647">
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="banAccBtn" class="btn btn-primary">@Localizer["Ban Account"]</button>
                                        <button type="button" id="banCharBtn" class="btn btn-primary">@Localizer["Ban Character"]</button>
                                        <button type="button" id="banChatBtn" class="btn btn-primary">@Localizer["Ban Chat"]</button>
                                        <button type="button" id="jailBtn" class="btn btn-primary">@Localizer["Jail Character"]</button>
                                        @if (Context.GetTargetServerType() != "L2OFF")
                                        {
                                            <button type="button" id="kickBtn" class="btn btn-primary">@Localizer["Kick Character"]</button>
                                        }
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="unbanAccBtn" class="btn btn-danger">@Localizer["Unban Account"]</button>
                                        <button type="button" id="unbanCharBtn" class="btn btn-danger">@Localizer["Unban Character"]</button>
                                        <button type="button" id="unbanChatBtn" class="btn btn-danger">@Localizer["Unban Chat"]</button>
                                        <button type="button" id="unjailBtn" class="btn btn-danger">@Localizer["Unjail Character"]</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>@Localizer["Set level"]</h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="form-group">
                                        <input id="playerlevel" type="number" placeholder="@Localizer["New level"]" class="form-control" min="1" max="85">
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="playerlevelBtn" class="btn btn-primary">@Localizer["Set level"]</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

<script>
    $('#items').select2();
    $('#charsSelect').select2();

    $('#giveItem').click(function () {
        if ($('#charsSelect').val() == null) {
            toastr["error"]("@Localizer["Please select a character"]");
            return false;
        }


        var itemId = $('#items').val();
        var character = $('#charsSelect').val();
        var itemCount = $('#itemCount').val();
        var enchant = $('#enchant').val();

        if (enchant == "" || enchant == null) {
            enchant = 0;
        }
        if (itemCount == "" || itemCount == null) {
            enchant = 1;
        }

        var jsonObj = { Username: character, ItemId: itemId, ItemCount: itemCount, Enchant: enchant };
        $.ajax({
            url: "/admin/giveitem",
            type: "POST",
            data: JSON.stringify(jsonObj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.responseText.startsWith("ok:")) {
                    toastr["success"]("@Localizer["Item given successfully"]");
                } else {
                    toastr["error"](response.responseText);
                }
            },
            error: function (response) {
                if (response.responseText.startsWith("ok:")) {
                    toastr["success"]("@Localizer["Item given successfully"]");
                } else {
                    toastr["error"](response.responseText);
                }
            }
        });
    });


    $('#playerlevelBtn').click(function () {
        if ($('#charsSelect').val() == null) {
            toastr["error"]("@Localizer["Please select a character"]");
            return false;
        }

        var character = $('#charsSelect').val();
        var level = $('#playerlevel').val();

        if (level == "" || level == null) {
            toastr["error"]("@Localizer["Please specify the level"]");
            return false;
        }

        var jsonObj = { Username: character, Level: level };
        $.post("/admin/setplayerlevel", jsonObj, function (data) {
            if (data.startsWith("ok:")) {
                toastr["success"]("@Localizer["Level set successfully"]");
            } else {
                toastr["error"](data);
            }
        });

    });

    $('#giveDonatePointsBtn').click(function () {
        if ($('#charsSelect').val() == null) {
            toastr["error"]("@Localizer["Please select a character"]");
            return false;
        }

        var character = $('#charsSelect').val();
        var points = $('#donatepointscount').val();

        if (points == "" || points == null) {
            toastr["error"]("@Localizer["Please specify the donate points"]");
            return false;
        }

        var jsonObj = { Username: character, Points: points };
        $.post("/admin/givedonatepoints", jsonObj, function(data) {
            if (data.startsWith("ok:")) {
                toastr["success"]("@Localizer["Donate points given successfully"]");
            } else {
                toastr["error"](data);
            }
        });
           
    });



    $('#banAccBtn').click(function () {
        punishChar(1);
    });

    $('#banCharBtn').click(function () {
        punishChar(2);
    });

    $('#banChatBtn').click(function () {
        punishChar(3);
    });

    $('#jailBtn').click(function () {
        punishChar(4);
    });

    $('#unbanAccBtn').click(function () {
        punishChar(5);
    });

    $('#unbanCharBtn').click(function () {
        punishChar(6);
    });

    $('#unbanChatBtn').click(function () {
        punishChar(7);
    });

    $('#unjailBtn').click(function () {
        punishChar(8);
    });

    $('#kickBtn').click(function () {
        $('#punishSeconds').val(0);
        punishChar(9);
    });

    function punishChar(id) {
        if ($('#charsSelect').val() == null) {
            toastr["error"]("@Localizer["Please select a character"]");
            return false;
            }
            var charName = $('#charsSelect').val();
            var punishSecs = $('#punishSeconds').val();

            if (punishSecs.trim().length == 0) {
                toastr["error"]("@Localizer["You must set punishment time."]");
                return false;
            }
            $.post("/admin/punish", { 'PunishId': id, 'PlayerName': charName, 'Time': punishSecs}, function( data ) {
                if (data.startsWith("ok:")) {
                    toastr["success"](data.replace("ok:", ""));
                } else {
                    toastr["error"](data);
                }
            });
        };
    
</script>